.fp-container {
    border-bottom: 1px solid lightgray;
    padding: 6px;
    display: flex;

}

.fp-thumbnail {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    align-self: center;
}

.fp-content {
    padding: 4px;
}

.fp-header {
    display: flex;
}

.fp-name {
    margin: 0 5px 0 0;
    font-size: 10pt;
}

.fp-itemNumber {
    margin: 0;
    font-size: 9pt;
    font-style: italic;
}

.fp-dateSent {
    margin: 2px;
    font-size: 9px;
}