.af-wrapper {
    position: relative;
    height: 95vh;
    width: 240px;
}

.af-list {
    list-style-type: none;
    padding: 0;
}

.af-list-item {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid #f0f0f0;*/
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    box-shadow: 3px 3px 8px lightgrey;
    font-size: 12px;
}

.af-dismiss-x {
    cursor: pointer;
    font-weight: bold;
}

.btn-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}