.af-container {
    height: 100vh;
    border-top: none;
    padding: 16px;
    box-shadow: 3px 3px 8px lightgrey;
}

.af-wrapper {
    height: 100%;
}

.af-list {
    list-style-type: none;
    padding: 0;
}

.af-list-item {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    box-shadow: 3px 3px 8px lightgrey;
    font-size: 12px;
}

.af-dismiss-x {
    cursor: pointer;
    font-weight: bold;
}

.btn-container {
    display: flex;
    flex-direction: column;
    bottom: 0;
}